<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="user"       value="Thuy Trang"/>
    <add key="password"  value="123"/>
    <add key="serverurl"   value="DANGTRANG\SQLEXPRESS"/>
    <add key="database"   value="DE"/>
    <add key="temdatabase" value="LittleBear"/>
  </appSettings>
</configuration>