<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="user"       value="Trang"/>
    <add key="password"  value="20091"/>
    <add key="serverurl"   value="DANGTRANG\SQLEXPRESS"/>
    <add key="database"   value="master"/>
    <add key="temdatabase" value="LittleBear"/>
  </appSettings>
</configuration>